<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Küldjön üzenetet!</title>
</head>
<body>
<div th:insert="menu"></div>
<h3>Küldjön nekünk üzenetet!</h3>
<form action="#" th:action="@{/uzenetkuld}" th:object="${msg}" method="post">
    <fieldset>
        <legend>Üzenete</legend>
        <p>Válassza ki az üzenet típusát</p>
        <input type="radio" th:field="*{messageType}" id="install" th:value="install">
        <label th:for="install">Telepítés kérése</label>
        <input type="radio" th:field="*{messageType}" id="report_error" th:value="report_error">
        <label for="report_error">Hibabejelentés</label>
        <input type="radio" th:field="*{messageType}" id="other_msg" th:value="other_msg">
        <label for="other_msg">Egyéb üzenet</label>
        <p><label for="msgtext">Az üzenet:</label></p>
        <p><textarea th:field="*{messageText}" id="msgtext" placeholder="Ide írja az üzenetét" required></textarea></p>
        <p><input type="submit" value="Küldés"></p>
    </fieldset>
</form>
</body>
</html>
