<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nyitólap</title>
</head>
<body>

<div th:insert="menu"></div>
<h1>Üdvözöljük a Szoftverleltárban!</h1>
<p>
    A Szoftverleltár applikációban - bejelentkezés után - megtekintheti a különböző számítógépekre feltelepített szoftvereket.
</p>
<p>
    Amennyiben telepítést kér, vagy egyéb visszajelzést kíván küldeni a rendszergazdák számára, az "Írjon nekünk!" menüpontban ezt megteheti.
</p>
</body>
