<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Telepítések</title>
</head>
<body>
<div th:insert="menu"></div>
<span sec:authorize="isAnonymous()">
  <h3>A telepítések megtekintéséhez kérjük <a href="/login">jelentkezzen be</a></h3>
</span>
<span sec:authorize="isAuthenticated()">
    <table>
        <thead>
        <tr>
            <th>Szoftver neve</th>
            <th>Szoftver leírása</th>
            <th>Notebookra telepítve (db)</th>
            <th>Asztali számítógépre telepítve (db)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="install_data : ${all_installs}">
            <td><span th:text="${install_data.software.nev}"></span></td>
            <td><span th:text="${install_data.software.kategoria}"></span></td>
            <td><span th:text="${install_data.installCount_Notebook}"></span></td>
            <td><span th:text="${install_data.installCount_Desktop}"></span></td>
        </tr>
        </tbody>
    </table>
</span>
</body>
</html>
