<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Telepítések</title>
</head>
<body>
<div th:insert="menu"></div>
<span sec:authorize="isAnonymous()">
  <h3>A telepítések megtekintéséhez kérjük <a href="/login">jelentkezzen be</a></h3>
</span>
<span>
    <h3>Itt lesznek a telepített szoftverek neve, verziója, a telepítés helye, a számítógép típusa</h3>
</span>
</body>
</html>
